@import 'vars.scss';
@import 'typography.scss';


.App {
  background-color: $lightBg;
  text-align: left;
  @include typography-styles-headline4;
}
.cat-bg {
  background: $primaryColor;
  h2 {
    @include typography-styles-headline1;
    color: $secondaryColor;
    font-weight: 800;
    font-size: 10rem;
    position: absolute;
    text-shadow: 5px 5px $primaryDarkColor;
  }

  .cat-1-ill-1 {
    bottom: 0;
  }
  
  .cat-1-ill-2 {
    right: 0;
  }

  .cat-1-ill-3 {
    left: 30%;
    top: 5%;
  }
}
.logo {
  background: white;
  padding: 5px 12px 5px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0.25rem;
  border-radius: 2px 2px black;
  box-shadow: 2px 2px black;
  &:hover {
    color: white !important;
    background: $secondaryColor;
   }
}

.site-title {
  color: $primaryDarkColor;
  font-weight: 700 !important;
  font-size: 2.5rem !important;
}

.dials {
  display: flex;
}

.App-Sub-footer {
  background: $primaryDarkColor;
  margin-top: 3rem;
  ul {
    margin: 0;
    color: $primaryTextColor;
    font-size: 1rem;
  }
}

.App-header {
  .header-container {
    display: flex;
    justify-content: space-between;
  }
  h1 {
    @include typography-styles-headline5;
    font-family: 'IBM Plex Mono', monospace;
    color: $primaryDarkColor;
    margin: 0;
    align-items: center;
    font-weight: 700;
    align-items: center;
    display: flex;
  }
}

.App-footer {
  background-color: $primaryLightColor;
  .footer-container {
    display: flex;
    justify-content: space-between;
    @include typography-styles-body2;
  }
}

.bold-span {
  font-weight: 600;
}

.menu-button {
  color: white;
  font-size: 2rem !important;
}

.section-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;;
  @include typography-styles-headline4;
}
.timelineitems {
  background: $primaryColor;
  border-radius: 0.25rem;
}
main.content {
  padding-bottom: 3rem;
  background: $secondaryBg;
  padding-bottom: 2.5rem;
  padding-top: 1.5rem;
}

.timeline {
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: $primaryDarkColor;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: normal;
  color: $secondaryColor;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
