@import 'vars.scss';

body {
  margin: 0;
  font-family:  -apple-system, BlinkMacSystemFont, 'IBM Plex Sans','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  .MuiCheckbox-colorPrimary.Mui-checked,
  .MuiIconButton-colorPrimary {
    color: $secondaryColor;
  }
  .MuiButton-text {
    padding: 0;
  }
  .MuiDataGrid-root {
    background: white;
  }
  .MuiDataGrid-colCellWrapper {
    font-weight: 700;
    background: $primaryColor;

  }
  .MuiAppBar-colorPrimary {
    background: $primaryColor;
    border-bottom: 3px solid $primaryDarkColor;
    box-shadow: none;
  }
  .MuiDataGrid-colCellTitle {
    font-weight: 700 !important;
    color:$secondaryBg;
  }
  .MuiCardMedia-root {
      height: 160px;
      overflow: hidden;
      position: relative;
  }
  .MuiCardContent-root {
    background: $lightBg;
  }
  .MuiCardActions-root {
    background: $primaryColor;
  }
  .MuiButton-containedPrimary {
    background: $secondaryDarkColor;
  }
  .MuiButton-containedSecondary {
    background: $secondaryLightColor;
    color: $secondaryTextColor;
  }
  .MuiTimelineContent-root.MuiTimelineItem-content {
    color: white;
    font-size: 1rem;;
  }
  .MuiStepIcon-root.MuiStepIcon-completed {
    color: $secondaryColor;
  }
  .MuiStepIcon-root.MuiStepIcon-active {
    color: $secondaryDarkColor;
    
  }
}
