@mixin typography-styles-headline1 {
  font-family: unquote("IBM Plex Sans");
  font-size: 6.1875rem;
}
@mixin typography-styles-headline2 {
  font-family: unquote("IBM Plex Sans");
  font-size: 3.875rem;
}
@mixin typography-styles-headline3 {
  font-family: unquote("IBM Plex Sans");
  font-size: 3.0635rem;
}
@mixin typography-styles-headline4 {
  font-family: unquote("IBM Plex Sans");
  font-size: 2.1875rem;
}
@mixin typography-styles-headline5 {
  font-family: unquote("IBM Plex Sans");
  font-size: 1.5rem;
}
@mixin typography-styles-headline6 {
  font-family: unquote("IBM Plex Sans");
  font-size: 1.3125rem;
}
@mixin typography-styles-body1 {
  font-family: unquote("IBM Plex Sans");
  font-size: 1rem;
}
@mixin typography-styles-body2 {
  font-family: unquote("IBM Plex Sans");
  font-size:  0.875rem;
}
@mixin typography-styles-subtitle1 {
  font-family: unquote("IBM Plex Sans");
  font-size: 1rem;
}
@mixin typography-styles-subtitle2 {
  font-family: unquote("IBM Plex Sans");
  font-size: 0.875rem;
}
@mixin typography-styles-button {
  font-family: unquote("IBM Plex Sans");
  font-size: 0.875rem;
}
@mixin typography-styles-overline {
  font-family: unquote("IBM Plex Sans");
  font-size: 10px;
}
@mixin typography-styles-caption {
  font-family: unquote("IBM Plex Sans");
  font-size: 0.625rem;
}