$primaryColor: #000000;
$primaryLightColor: #62727b;
$primaryDarkColor: #102027;
$secondaryColor: #f26122;
$secondaryLightColor: #ff7133;//second button
$secondaryDarkColor: #FF4500;//primary button
$primaryTextColor: #ffffff;
$secondaryTextColor: #000000;
$lightBg: #ffffff;
$secondaryBg: #ffffff;